<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [ ]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Display dataset information
print("Dataset Information:")
print("="*60)
print(df.info())

print("\n" + "="*60 + "\n")

# Display shape
print(f"Dataset Shape: {df.shape}")
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

print("\n" + "="*60 + "\n")

# Display missing values
print("Missing Values Summary:")
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
missing_df = pd.DataFrame({
    'Missing Count': missing_values,
    'Percentage': missing_percentage
})
print(missing_df[missing_df['Missing Count'] > 0].sort_values('Missing Count', ascending=False))

Dataset Information:
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

============================================================

Dataset Shape: (65437, 114)
Number of rows: 65437
Number of columns: 114

============================================================

Missing Values Summary:
                            Missing Count  Percentage
AINextMuch less integrated          64289   98.245641
AINextLess integrated               63082   96.401119
AINextNo change                     52939   80.900714
AINextMuch more integrated          51999   79.464217
EmbeddedAdmired                     48704   74.428840
...                                   ...         ...
YearsCode                            5568    8.508948
NEWSOSites                           5151    7.871693
LearnCode                            4949    7.563000
EdLevel                              4653    7.110656
AISelect                             4530    6.922689

[109 rows x 2 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [ ]:
# Generate basic statistics for numerical columns
print("Basic Statistics for Numerical Columns:")
print("="*60)
print(df.describe())

print("\n" + "="*60 + "\n")

# Additional statistics for numerical columns
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(f"Numerical columns: {list(numerical_cols)}")

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [4]:
# Identify unique values in Country column
print("Unique values in 'Country' column:")
print(df['Country'].value_counts())

print("\n" + "="*60 + "\n")

# Check for potential inconsistencies
print(f"Total unique countries: {df['Country'].nunique()}")
print(f"Missing values in Country: {df['Country'].isnull().sum()}")

# Display some examples
print("\nSample Country entries:")
print(df['Country'].head(20))

Unique values in 'Country' column:
Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

============================================================

Total unique countries: 185
Missing values in Country: 6507

Sample Country entries:
0                              United States of America
1     United Kingdom of Great Britain and Northern I...
2     United Kingdom of Great Britain and Northern I...
3                                                Canada
4                                                Norway
5                              United States of America
6                              United States of America
7                                            Uzbekistan
8     United Kingdom of Great Britain and Northern I...
9                                                Serbia
10                             United States of America
11                                               Poland
12                             United States of America
13                                          Philippines
14                                             Bulgaria
15                                          Switzerland
16                                               Canada
17                                                India
18                                              Germany
19    United Kingdom of Great Britain and Northern I...
Name: Country, dtype: object

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [5]:
# Standardize Country entries (example mapping)
# Create a mapping dictionary for common inconsistencies
country_mapping = {
    'USA': 'United States',
    'US': 'United States',
    'U.S.': 'United States',
    'United States of America': 'United States',
    'UK': 'United Kingdom',
    'U.K.': 'United Kingdom',
    'Britain': 'United Kingdom'
}

# Apply the mapping
df['Country'] = df['Country'].replace(country_mapping)

print("Country values after standardization:")
print(df['Country'].value_counts().head(10))

print("\n" + "="*60 + "\n")

# Standardize EdLevel if needed
if 'EdLevel' in df.columns:
    print("Unique EdLevel values:")
    print(df['EdLevel'].value_counts())

Country values after standardization:
Country
United States                                           11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
France                                                   2110
Canada                                                   2104
Poland                                                   1534
Netherlands                                              1449
Brazil                                                   1375
Name: count, dtype: int64

============================================================

Unique EdLevel values:
EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          24942
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15557
Some college/university study without earning a degree                                 7651
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5793
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2970
Associate degree (A.A., A.S., etc.)                                                    1793
Primary/elementary school                                                              1146
Something else                                                                          932
Name: count, dtype: int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [ ]:
## Write your code here

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [ ]:
## Write your code here

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [ ]:
## Write your code here

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [ ]:
## Write your code here

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [ ]:
## Write your code here

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [ ]:
## Write your code here

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [ ]:
## Write your code here

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.